@model Production.Models.MeasurementUnit

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<body>
<div>
    <h2>
        @ViewData["Title"]
    </h2>
</div>

<div class="edit_product mt-4">

    <form action="@ViewData["Action"]" method="post">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        }
        <input type="hidden" name="ID" value="@Model.Id"/>

        <div class="form-group mb-3">
            <label for="Name">Название</label>
            <input type="text" class="form-control" id="Name" name="Title" value="@Model.Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>

</body>
</html>