@model Production.Models.ProductManufacturing

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<body>
<div>
    <h2>
        @ViewData["Title"]
    </h2>
</div>
<div class="edit_product mt-4">

    <form action="@ViewData["Action"]" method="post">
        @if (!ViewData.ModelState.IsValid)
        {
        <div class="alert alert-danger">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
        }
        <input type="hidden" name="ID" value="@Model.Id"/>

        <div class="form-group mb-3">
            <label for="ProductId">Product</label>
            <select class="form-control" id="ProductId" name="ProductId">
                @foreach (var prod in ViewBag.Products)
                {
                <option value="@prod.Id" selected="@(prod.Id == Model.ProductId ? "selected" : null)"> @prod.Name</option>
                }
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="Quantity">Quantity</label>
            <input type="number" class="form-control" id="Quantity" name="Quantity" step="0.01" value="@Model.Quantity">
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        
        <div class="form-group mb-3">
            <label for="ManufacturingDate">Manufacturing Date</label>
            <input type="date" class="form-control" id="ManufacturingDate" name="ManufacturingDate" value="@(Model.ManufacturingDate == default(DateOnly) ? DateTime.Today.Date.ToString("yyyy-MM-dd") : Model.ManufacturingDate.ToString("yyyy-MM-dd"))">
            <span asp-validation-for="ManufacturingDate" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label for="EmployeeId">Employee</label>
            <select class="form-control" id="EmployeeId" name="EmployeeId">
                @foreach (var emp in ViewBag.Employees)
                {
                <option value="@emp.Id" selected="@(emp.Id == Model.EmployeeId ? "selected" : null)"> @emp.FullName</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
</body>
</html>